{% extends 'base.html' %}

{% block content %}

    {% if error %}
    {{ error }}
    <br>
    <br>
    {% endif %}

    <div class="wrap">
        <div class="content login">
            <div class="title">
                <div class="maintitle">Sign-in</div>
                <div class="subtitle">Welcome back!</div>
            </div>

            <div></div>
            <div class="info">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.password}}
                    <input type="submit" value="login">
                </form>
            </div>

        </div>
        
    </div>

{% endblock %}