{% extends 'base.html' %}

{% block content %}

    {% if error %}
    {{ error }}
    <br>
    <br>
    {% endif %}

    <script>
        $(document).ready(function(){
            $("#id_username").attr('placeholder', 'Username');
            $("#id_password").attr('placeholder', 'Password');
        });
    </script>

    <div class="wrap">
        <div class="content login">
            <div class="title">
                <div class="maintitle">Sign-in</div>
                <div class="subtitle">Welcome back!</div>
            </div>

            <div class="info">
                <form class="loginform" action="" method="post">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <label class="inputlabel">username</label>
                        {{form.username}}
                    </div>
                    <div class="input-wrapper">
                        <label class="inputlabel">password</label>
                        {{form.password}}
                    </div>
                    <input id="login" type="submit" value="login">
                    <div></div>
                    <a id="signup" href="{%url 'accounts:signup' %}">Sign-up</a>
                    
                </form>
            </div>

        </div>
        
    </div>

{% endblock %}