:root{
    --main-background-color: wh;
    --main-text-color: rgb(31, 34, 31);
    --sub-title-color: gray;
    --background-color: rgb(92, 125, 175);
    --song-title-color: #ebeef3;
    --artist-color: #c9cbd0;
    --album-color: #b8c0cc;
    --sidebar-color: rgb(62, 159, 177);
    --button-hover-color: rgba(5, 80, 114, 0.753);
    --form-hover-color: gray;
}

@font-face{
    font-family: "G마켓 산스";
    src: url('../static/fonts/GmarketSansBold.otf');
    font-weight: 700;
}

@font-face{
    font-family: "G마켓 산스";
    src: url('../static/fonts/GmarketSansMedium.otf');
    font-weight: 400;
}

@font-face{
    font-family: "G마켓 산스";
    src: url('../static/fonts/GmarketSansLight.otf');
    font-weight: 100;
}

body{
    margin: 0;
    height: 100%;
    font-family: "G마켓 산스", helvetica, "Apple SD Gothic Neo", sans-serif;
    background-color: var(--main-background-color);
}

.content{
    display: grid;
    grid-template-rows: 200px 80px auto 50px;
    background-color: var(--main-background-color);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.warp{
    height: 100%;
}

.signup, .login{
    grid-template-rows: 200px auto;
    overflow: scroll;
    margin: 100px auto;
}

.maintitle{
    color: var(--main-text-color);
    font-size: 50px;
    font-weight: bolder;
}

.subtitle{
    color: gray;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
}

.number-of-song{
    font-size: 25px;
    font-weight: bolder;
    color: var(--main-text-color);
}

.song-list{
    display: grid;
    row-gap: 20px;
}

.song-template{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--background-color);
    border-radius: 10px;
}

.cover{

}

.song-info{
    display: grid;
    grid-template-rows: 3fr 2fr;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
}

.song-title{
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    color: var(--song-title-color);
}

.artist{
    font-size: 15px;
    font-weight: normal;
    color: var(--artist-color);
    height: 30px;
    line-height: 30px;
}

.more{
    display: flex;
}

.album{
    font-size: 13px;
    font-weight: lighter;
    padding-left: 10px;
    padding-top: 9px;
    color: var(--album-color);
}

.form{
    display: grid;
    grid-template-columns: 85px 1fr;
    column-gap: 10px;
}

.loginform, .signupform{
    display: grid;
    grid: auto / 45% 10% 45%;
    text-align: start;
}

.input-wrapper{
    grid-column: span 3;
    margin-bottom: 20px;
}

input, #signup{
    font-family: "G마켓 산스";
    font-size: 20px;
    color: var(--main-text-color);
    background-color: white;
    border: 2px solid var(--album-color);
    outline: none;
    transition: border .3s;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    line-height: 30px;
    margin: 10px 0;
    text-decoration: none;
}

  
  

#login, #signup{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--sidebar-color);
    border: none;
    color: whitesmoke ;
}

input:focus{
    border: 2px solid var(--background-color);
}

input::placeholder{
    font-size: 15px;
    overflow: visible;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--sidebar-color);
    height: 100%;
    position: fixed;
}

.sidebar > a{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    transition: background-color .3s;
    text-align: center;
}

.sidebar > a :hover, #Nightmode:hover{
    background-color: var(--button-hover-color);
}

.sidebar > a > svg, #Nightmode{
    width: 30px;
    height: 30px;
    fill: aliceblue;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 30px;
}

.pagenator{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    margin: 30px 0;
    color: var(--main-text-color);
}

.currentpage{ font-weight: bold; font-size: 20px;}

.pagebutton{
    margin: 0 25px;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bolder;
    transition: color 0.3s;
    font-size: 20px;
}

.pagebutton:hover{
    color: var(--sidebar-color);
}

.fas{
    line-height: 50px;
    
}

.login, .signup{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sign-in-button{
    
}

td > input{
    width: 100%;
    padding-right: 0;
}

table{
    width: 100%;
}

.song-info-input{
    background-color: var(--background-color);
    padding: 0;
    border-radius: 0;
}

.title-input{
    font-size: 24px;
    font-weight: bold;
    color: var(--song-title-color);
    width: 100%;
}

.artist-input{
    font-size: 15px;
    color: var(--artist-color);
    margin: 0;
}

.album-input{
    font-size: 13px;
    font-weight: lighter;
    color: var(--album-color);
    margin: 0;
    line-height: 13px;
    width: 100%;
}

.song-info-input:hover{background-color: var(--background-color);}
.title-input::placeholder{color: var(--song-title-color);}
.artist-input::placeholder{color: var(--artist-color);}
.album-input::placeholder{color: var(--album-color);}

.video{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: 10px;
}

.ytplayer{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.content--detail{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: var(--background-color);
    grid-template-rows: 150px auto auto;
    grid-gap: 20px;
}

.cover--detail img{
   height: 150px;
}
 
.detail{
    grid-template-columns: 150px 1fr;
    column-gap: 25px;
}

.title--detail{
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.artist--detail{
    font-size: 20px;
}

.album--detail{
    font-size: 15px;
    margin-top: 10px;
    padding: 0;
}

.footbox{
    display: grid;
    grid-template-columns: auto 110px;
}

.footbox--btn{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.fa-heart, .fa-star{
    color: inherit;
    transition: color ease 0.3s;
}

.btn-like{
    color: var(--song-title-color);
    text-decoration: none;
}

.fa-heart:hover{
    color:rgb(207, 31, 31);
}

.fa-star:hover{
    color: goldenrod;
}

.liked{
    color:rgb(207, 31, 31);
}

.saved{
    color: goldenrod;
}

body{
    overflow: visible;
}

form{
    display: grid;
}

.base-wrap{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 100%;
}

header{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 75px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -6px 6px 7px grey;
    z-index: 99;
}

.navbar{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar li{
    padding: 8px 12px;
    font-weight: lighter;
    font-size: 20px;
}

.navbar li > a{
    text-decoration:none;
    color: var(--main-text-color);
}

.footer{
    width: 50px;
}

img#mainlogo{
    height: 75px;
    width: 75px;
}

.list{
    margin-left: auto;
    margin-right: 20px;
}

.login-button{
    font-family: "helvetica neue";
    font-weight: bolder;
    padding: 7px 20px;
    background-color: rgb(31, 34, 31);
    border-radius: 1em;
    text-decoration: none;
    color: black;
    transition: background-color ease 0.3s;
}

.login-button:hover{
    background-color: rgb(67, 73, 67);
}

.login-button a{
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.content-main{
    display: grid;
    position: relative;
    grid-template-rows: 55px auto auto;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

.content-area{
    margin-top: 75px;
}

.index--main-text-area{
    color: white;
    position: relative;
    top: 40%;
    margin-left: 20px;
}

h1{
    font-size: 95px;
    margin: 10px;
}

h6{
    font-size: 20px;
    margin: 10px;
    margin-top: 15px;
    font-weight: lighter;
}

.main-btn{
    margin: 40px 10px;
    padding: 15px 30px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #1e9ed6;
    text-align: center;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.title > div{
    margin-right: 10px;
}

.main-title{
    font-size: 40px;
    font-weight: bolder;
}

.sub-title{
    font-size: 15px;
    font-weight: lighter;
    color: var(--sub-title-color);
}

.today-pick, .playlists-all{
    padding: 0 2.5%;
}

.playlist-today--form{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 25px;
    background-size: cover;
    background-position: center;
}

.playlist-today--form--head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-today--form--head--main-title{
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

.playlist-today--form--head--like-btn{
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

.playlist-today--form--sub-title{
    color: lightgray;
    font-size: 18px;
    margin-bottom: 10px;
}

.playlist-today--form--author{
    font-weight: lighter;
    font-size: 12px;
    color: whitesmoke;
}

.playlist-today--form--number-of-songs{
    margin-left: auto;
    color: white;
    margin-top: 175px;
    font-size: 25px;
    font-weight: lighter;
}

.playlist-cover{
    width: 100%;

}

.playlist-info{
    box-sizing: border-box;
    display: grid;
    grid: auto / 1fr 10%;
    border: 2px solid lightgray;
    border-top: none;
    width: 100%;
    padding: 3%;
}


.playlist-title, .playlist-author{
    grid-column: span 2;
}

.playlist-title, .playlist-song-count{
    font-weight: bolder;
    font-size: 18px;
}

.playlist-author{
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.playlist-like-btn{
    margin-left: auto;
}

.playlist-all--list{
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 5% 3%;
}

.playlist-form *, .playlist-detail--songs *{
    font-family: "helvetica neue";
}

.playlist-detail--songs{
    margin-top: 100px;
}

.playlist-detail--info{
    display: grid;
    grid-template-columns: 210px 1fr;
    border: 1pt solid rgb(179, 179, 179);
}

.playlist-detail--cover{
    background-color: gainsboro;
}

.playlist--detail--info{
    margin: 20px 0px 20px 20px;
}

.cover{
    width: 100%;
}

.playlist--detail--info--like{
    display: flex;
    margin-top: 50px;
}

.playlist-detail--songs-index, .playlist-detail--songs--count{
    font-style: italic;
    font-weight: bold;
}

.playlist-detail--songs-index, .playlist-detail--songs--list--form{
    display: grid;
    grid-template-columns: 100px 8fr 5fr 1fr;
    grid-gap: 15px;
    margin: 20px 10px;
    margin-right: 15px;
}

.playlist-detail--songs--list--form--info--title{
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.playlist-detail--songs--list--form--album, .playlist-detail--songs--list--form--info{
    margin: auto 0;
}

.playlist-detail--songs--list--form--album{
    font-size: 18px;
}
