<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeju-Pics</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="content">
        <div class="head">
            <div class="title">지니뮤직 실시간 Top 100</div>
            <div class="sub-title">2020.07.03 01:00 기준</div>
        </div>

        <div class="number-of-songs"><p class="number-of-songs">100 Songs</p></div>

        <div class="song-list">
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">Summer Hate (Feat. 비)</div>
                        <div class="more">
                            <div class="artist">지코 (ZICO)</div>
                            <div class="album">RANDOM BOX (2020)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">How You Like That</div>
                        <div class="more">
                            <div class="artist">BLACKPINK</div>
                            <div class="album">How You Like That (2020)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">마리아(Maria)</div>
                        <div class="more">
                            <div class="artist">화사 (Hwa Sa)</div>
                            <div class="album">Maria (2020)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">Downtown Baby</div>
                        <div class="more">
                            <div class="artist">블루 (BLOO)</div>
                            <div class="album">Downtown Baby (2017)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">보라빛 밤 (pporappippam)</div>
                        <div class="more">
                            <div class="artist">선미</div>
                            <div class="album">보라빛 밤 (pporappippam) (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">Into the I-LAND</div>
                        <div class="more">
                            <div class="artist">아이유 (IU)</div>
                            <div class="album">I-LAND Part.1 Signal Song (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">에잇 (Prod. & Feat. SUGA of BTS)</div>
                        <div class="more">
                            <div class="artist">아이유 (IU)</div>
                            <div class="album">에잇 (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">아로하</div>
                        <div class="more">
                            <div class="artist">조정석</div>
                            <div class="album">슬기로운 의사생활 OST Part 3 (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">Dolphin</div>
                        <div class="more">
                            <div class="artist">오마이걸 (OH MY GIRL)</div>
                            <div class="album">NONSTOP (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="cover">
                    <img src="">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">살짝 설렜어 (Nonstop)</div>
                        <div class="more">
                            <div class="artist">오마이걸 (OH MY GIRL)</div>
                            <div class="album">NONSTOP (2020)</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</body>
</html