{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="content">
        <div class="head">
            <div class="title">지니뮤직 실시간 Top 100</div>
            <div class="sub-title">2020.07.03 01:00 기준</div>
        </div>

        <div class="number-of-songs"><p class="number-of-songs">100 Songs</p></div>

        <div class="song-list">
        {% for Music in Musics.all %}
            <div class="form">
                <div class="cover">
                    <img src="{{ Music.image.url }}">
                </div>
                <div class="song-template">
                    <div class="song-info">
                        <div class="song-title">{{ Music.title }}</div>
                        <div class="more">
                            <div class="artist">{{ Music.artist }}</div>
                            <div class="album">{{ Music.album_title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

</body>
</html>