<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="title">New Music Upload</div>
            <div class="sub-title">새로운 음악은 언제나 환영</div>
        </div>

        <div class="info">
            <input type="text" placeholder="제목을 입력하라 이말이야" id="title">
            <input type="text" placeholder="누가 불렀는지도 알아야한다 이말이야" id="artist">
            <input type="text" placeholder="앨범명도 알고싶다 이말이야" id="album">

        </div>
    </div>
</body>
</html>