{% extends 'base.html' %}

{% block content %}

<div class="content-main content-area">
    <div class="title">
        <div class="main-title">Song info</div>
        <div class="sub-title">여기엔 어떤 노래들이 있을까?</div>
    </div>
        <div class="playlist-detail--info">
            <div class="playlist-detail--cover" style="height: 210px;">
                <img class="cover" src="{{ object.image.url }}" alt="">
            </div>
            <div class="playlist--detail--info">
                <div class="main-title playlist--detail--info--main-title">{{  object.title  }}</div>
                <div class="sub-title playlist--detail--info--sub-title" style="font-size: 25px;">{{  object.artist  }}</div>
                
                <div class="playlist--detail--info--like" style="justify-content: space-between;">
                    <div class="playlist--detail--info--author" >{{  object.album_title }}</div>
                    <div class="playlist--detail--info--like--like-btn"><a href="{% url 'playlist:like' object.id %}" class="float-left btn-like {%if user in object.like.all %} liked {% endif %}"><i class="fas fa-heart"></i>
                    </a></div>
                </div>
            </div>
    </div>
    <div class="video">
        <iframe class="ytplayer" src="{{object.video_key_direct}}" frameborder=0 allowfullscreen></iframe>
    </div>
    <div class="disqus">
        {% load disqus_tags %}
        {% set_disqus_url post_absolute_url %}
        {% disqus_show_comments %}
    </div>
</div>


{% endblock %}


<a href="{% url 'music:likeMusic' object.id %}" class="float-left btn-like {%if user in object.like.all %} active {% endif %}"> like </a>
{% if object.like.all.count %}
{{object.like.all.count}}
{% endif %}


{% if user == object.author %}
    <a href="{% url 'music:updateMusic' music.id %}">update</a>
    <a href="{% url 'music:deleteMusic' music.id %}">delete</a>
{% endif %}
