{% extends 'base.html' %}

{% block content %}

<body>
    <div class="warp">
        <div class="content content--detail">
            <div class="form detail">
                <div class="cover cover--detail">
                    <img src="{{ object.image.url }}">
                </div>
                <div class="song-template">
                    
                    <div class="song-title title--detail">{{ object.title }}</div>
                    <div class="footbox">
                        <div class="footbox--info">
                            <div class="artist artist--detail">{{ object.artist }}</div>
                            <div class="album album--detail">{{ object.album_title }}</div>
                        </div>
                        <div class="footbox-btn">
                            <a href="{% url 'music:favoriteMusic' object.id %}" class="float-left btn-like {%if user in object.favorite.all %} saved {% endif %}"><i class="fas fa-star"></i></a>
                            <a href="{% url 'music:likeMusic' object.id %}" class="float-left btn-like {%if user in object.like.all %} liked {% endif %}"><i class="fas fa-heart"></i></a>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
            <div class="video">
                <iframe class="ytplayer" src="{{object.video_key_direct}}" frameborder=0 allowfullscreen></iframe>
            </div>
            <div class="disqus">
                {% load disqus_tags %}
                {% set_disqus_url post_absolute_url %}
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
</body>

{% endblock %}


<a href="{% url 'music:likeMusic' object.id %}" class="float-left btn-like {%if user in object.like.all %} active {% endif %}"> like </a>
{% if object.like.all.count %}
{{object.like.all.count}}
{% endif %}


{% if user == object.author %}
    <a href="{% url 'music:updateMusic' music.id %}">update</a>
    <a href="{% url 'music:deleteMusic' music.id %}">delete</a>
{% endif %}
