{% extends 'base.html' %}
{% block content %}



<div class="wrap">
    <div class='content'>
        <div class="title">
            <div class="maintitle">Upload New Music</div>
            <div class="subtitle">새로운 음악은 언제나 환영</div>
        </div>

        <div class="uploadform">
            <form method='post' enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{form.title}}
            {{form.artist}} 
            {{form.album_title}} 
            {{form.image}} 
            <input type="submit" value="제출하기">
            
            </form>
        </div>
        
    </div>
</div>
<script>
    $("input:radio[name=category]").change(function(){
        if($("input:radio[name=category]:checked").val()=="sc"){
            $('#id_soundcloud_key_direct').show();
            console.log('select!')
        }
        else{
            $('#id_soundcloud_key_direct').hide();
            console.log('unselect!')
        }
    });
</script>
{%endblock%}
