{% extends 'base.html' %}

{% block content %}
<div class="content-main">
    <div class="title">
        <div class="main-title">Playlist</div>
        <div class="sub-title">여기엔 어떤 노래들이 있을까?</div>
    </div>

    <div class="playlist-detail--info">
        <div class="playlist-detail--cover">
            <img src="" alt="">
        </div>
        <div class="playlist--detail--info">
            <div class="playlist--detail--info--title">
                <div class="main-title playlist--detail--info--main-title"></div>
                <div class="sub-title playlist--detail info--sub-title"></div>
            </div>
            <div class="playlist--detail--info--author"></div>
            <div class="playlist--detail--info--like">
                <div class="playlist--detail--info--like--like-btn"></div>
                <div class="playlist--detail--info--like--count"></div>
            </div>
        </div>
    </div>

    <div class="playlist-detail--songs">
        <div class="playlist-detail--songs--count"></div>
        <div class="playlist-detail--songs-index"></div>
        <hr>
        <div class="playlist-detail--songs--list">
            <div class="playlist-detail--songs--list--form">
                <div class="playlist-detail-songs--list--form--cover">
                    <img src="" alt="">
                </div>
                <div class="playlist-detail--songs--list--form--info">
                    <div class="playlist-detail--songs--list--form--info--title"></div>
                    <div class="playlist-detail--songs--list--form--info--artist"></div>
                </div>
                <div class="playlist-detail--songs--list--form--album"></div>
                <div class="playlist-detail--songs--list--form--like-btn"></div>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>
{%endblock%}